@import 'tailwindcss';
@theme {
  --font-*: initial;
  --font-sans: 'Quicksand', 'sans-serif';
  --font-cursive: 'Pacifico', cursive;

  /* background colors */
  --color-base: #edeae1;
  --color-card: #f5f4f0;
  --color-border: #d4cfc1;

  --color-primary: #635d4d;
  --color-primary-foreground: #363229;
  --color-secondary: #bab4a4;
}

body {
  background-color: #edeae1;
}
